      {% load static %}

    .btn-custom-margin-bottom {
        background: #77a2ed;
        border-radius: 30px;
        color: white;
        padding: 14px 63px;
        width: 230px;
        height: 52px;
        font-family: "Montserrat-SemiBold", sans-serif;
        font-size: 18px;
        font-weight: 600;
        background: #659ad2;
    }


    .menu {
        padding-left: 119px;
        padding-right: 119px;
    }

    .menu button {
        padding: 10px 20px;
        color: white;
        background: none;
        border: none;
        font-size: 16px;
        cursor: pointer;
    }

    .menu button:hover {
        text-decoration: underline;
    }

    .custom-margin {
        margin-right: 20px;
    }


    .backgr {
        background-color: #37528B;
    }


    a {
        text-decoration: none;
        color: inherit;
    }


    .FastCheck {
        color: #37528B;
        font-size: 28px;
        font-family: "Montserrat-SemiBold", sans-serif;
    }

    .trail {
        color: #37528B;
        font-size: 18px;
        font-family: "Montserrat-SemiBold", sans-serif;
    }

    .text {
        font-size: 18px;
    }

    /* Стили для списка */
    .table li {
        color: #37528B;
        font-size: 18px;
        font-family: "Montserrat-SemiBold", sans-serif;
    }


    .line {
        color: #37528B;
        width: 760px;
    }


    .visib {
        clear: both;
        visibility: hidden;
    }


    .working-hours {
        display: flex;
        flex-direction: column;
        color: white;
        text-align: center;
    }


