{% extends 'main/base.html' %}
{% block title %}Фотографии{% endblock %}

{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/photos.css' %}">

<div class="container mt-5">
  <div class="row">
   <div class="photo col-12 text-center text-blue fs-3 mt-2 head">
          Фотографии пейзажей
        </div>
        <div class="txt col-12 text-center text-blue fs-6 head">
          Удивительные пейзажи, которые никого не оставят равнодушным. Идеальное
          место для фотосессии.
        </div>
    <div class="karusel col-12 mt-3">
      <div id="carousel1" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'img/svg/Photos/Пейзажи/первая.png' %}" class="d-block w-100" alt="1">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/svg/Photos/Пейзажи/вторая.png' %}" class="d-block w-100" alt="2">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/svg/Photos/Пейзажи/третья.png' %}" class="d-block w-100" alt="3">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/svg/Photos/Пейзажи/четвертая.png' %}" class="d-block w-100" alt="4">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/svg/Photos/Пейзажи/пятая.png' %}" class="d-block w-100" alt="5">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/svg/Photos/Пейзажи/шестая.png' %}" class="d-block w-100" alt="6">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/svg/Photos/Пейзажи/седьмая.png' %}" class="d-block w-100" alt="7">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel1" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="photo col-12 text-center text-blue fs-3 mt-2 head">
          Фотографии развлечений
        </div>
        <div class="txt col-12 text-center text-blue fs-6 head">
          Наслаждайтесь захватывающими видами, которые открываются с вершин.
          Погружайтесь в атмосферу праздника и веселья!
        </div>
    <div class="karusel col-12 mt-3">
      <div id="carousel2" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'img/svg/Photos/Развлечения/первая.png' %}" class="d-block w-100" alt="1">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/svg/Photos/Развлечения/вторая.png' %}" class="d-block w-100" alt="2">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/svg/Photos/Развлечения/третья.png' %}" class="d-block w-100" alt="3">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/svg/Photos/Развлечения/четвертая.png' %}" class="d-block w-100" alt="4">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/svg/Photos/Развлечения/пятая.png' %}" class="d-block w-100" alt="5">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/svg/Photos/Развлечения/шестая.png' %}" class="d-block w-100" alt="6">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/svg/Photos/Развлечения/седьмая.png' %}" class="d-block w-100" alt="7">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel2" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel2" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="photo col-12 text-center text-blue fs-3 mt-2 head">
      Фотографии трасс
    </div>
    <div class="txt col-12 text-center text-blue fs-6 head">
      Проведите незабываемый день на наших трассах, где вы найдете идеальные
      условия для катания на любой вкус
    </div>
    <div class="karusel col-12 mt-3">
      <div id="carousel3" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'img/svg/Photos/Трассы/первая.png' %}" class="d-block w-100" alt="1">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/svg/Photos/Трассы/вторая.png' %}" class="d-block w-100" alt="2">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/svg/Photos/Трассы/третья.png' %}" class="d-block w-100" alt="3">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/svg/Photos/Трассы/четвертая.png' %}" class="d-block w-100" alt="4">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/svg/Photos/Трассы/пятая.png' %}" class="d-block w-100" alt="5">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/svg/Photos/Трассы/шестая.png' %}" class="d-block w-100" alt="6">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/svg/Photos/Пейзажи/седьмая.png' %}" class="d-block w-100" alt="7">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel3" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel3" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
